ZODB
colander
http_session_file
minicli
pydantic
redis == 5.1.1
rq
sqlmodel
transaction
waitress
strawberry-graphql
sfdb == 0.1.0
deform@git+https://github.com/Pylons/deform.git@3977582583d8982d3931b1eacf63c4de4841726e
jsonschema_colander@git+https://github.com/novareto/jsonschema_colander.git
git+https://github.com/WolfSGI/wolf.git#egg=wolf
git+https://github.com/WolfSGI/wolf_sql.git#egg=wolf_sql
git+https://github.com/WolfSGI/wolf_jwt.git#egg=wolf_jwt
git+https://github.com/WolfSGI/wolf_form.git#egg=wolf_form
git+https://github.com/WolfSGI/ticketed_filestore.git#egg=ticketed_filestore
git+https://github.com/WolfSGI/html_resources.git#egg=html_resources
