ZODB
authsources_keycloak >= 0.3
colander
deform == 3.0.1
http_session_file
minicli
pydantic
redis == 5.1.1
rq
sqlmodel
transaction
waitress
strawberry-graphql
jsonschema_colander@git+https://github.com/novareto/jsonschema_colander.git
-e git+https://github.com/WolfSGI/wolf.git#egg=wolf
-e git+https://github.com/WolfSGI/wolf_sql.git#egg=wolf_sql
-e git+https://github.com/WolfSGI/wolf_jwt.git#egg=wolf_jwt
-e git+https://github.com/WolfSGI/wolf_form.git#egg=wolf_form
